@font-face {
    font-family: 'MySourGummy';
    src: url('./font_styles/Sour_Gummy/SourGummy-VariableFont_wdth\,wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MyHonk';
    src: url("./font_styles/Honk/Honk-Regular-VariableFont_MORF\,SHLN.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

.mainpage-title-container {
    position: fixed;
    top: 0; /* Position it at the top of the viewport */
    left: 0;
    width: 100%; /* Ensure it spans the full width */
    z-index: 1; /* Keep it above the scrolling content */
    pointer-events: none; /* Optional: allows clicks to pass through, useful if you don't need interaction */
}

.video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
    pointer-events: none;
}


  

@keyframes bounce {

    0%, 100% {
        transform: translateY(0);
    }
    50% {
        /* transform: translateY(-20px); */
        transform: translateY(-20px);
    }

}

@keyframes bounce_rotate {
    0% { transform: translateY(0) rotate(0deg); }
    5% { transform: translateY(-10px) rotate(0deg); }
    10% { transform: translateY(-15px) rotate(0deg); }
    15% { transform: translateY(-25px) rotate(0deg); }
    20% { transform: translateY(-30px) rotate(60deg); }
    25% { transform: translateY(-35px) rotate(120deg); }
    30% { transform: translateY(-40px) rotate(180deg); }
    35% { transform: translateY(-35px) rotate(240deg); }
    40% { transform: translateY(-30px) rotate(300deg); }
    45% { transform: translateY(-25px) rotate(360deg); }
    50% { transform: translateY(0px) rotate(360deg); }
    60% { transform: translateY(5px) rotate(360deg); }
    70% { transform: translateY(0px) rotate(360deg); }
    /* 75% { transform: translateY(0px) rotate(360deg); } */
    100% { transform: translateY(0px) rotate(360deg); }
}

/*HELLO THERE*/
.mainpage-title {
    /*Text alignment - CENTER*/ 
    text-align: center;
    font-size: 150px;
    font-family: MyHonk;
    letter-spacing: 30px;
    position: relative;
    margin-top: 350px;
    z-index: 6;
}

.mainpage-title span {
    display: inline-block;
    /* animation: bounce_rotate 1.6s ease infinite; */
}

video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the video covers the container without stretching */
    z-index: -1; /* Places video behind the text */
}


.mainpage-content-container {
    position: relative;
    z-index: 2; /* Keep it above the video but below the fixed title */
    margin-top: 900px; /* Adjust this based on the height of the title container */
    background-color: rgb(255, 255, 255);
}

.mainpage-content h1 {
    font-size: 80px;
    font-family: MySourGummy;
    font-style: italic;
    margin-left: 200px;
    padding: 50px 0 50px 0;
}

.mainpage-content p {
    /*Text alignment - CENTER*/
    text-align: left;
    font-size: 40px;
    font-family: MySourGummy;

    /*Set margin of paragraph AWAY FROM the RIGHT*/
    margin-right: 200px;
    /*Set margin of paragraph AWAY FROM the LEFT*/
    margin-left: 200px;
    /*TEXT JUSTIFICATION: text-align set to 'justify' */
    text-align: justify;

    padding-bottom: 20px;
    
}

.highlight-blue {
    color: blue
}