*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

.bubble-body {
    min-height: 100vh;
    position: relative;
    background: #0c192c;
    overflow: hidden;
}

.container {
    position: relative;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
}

.bubbles {
    position: relative;
    display: flex;
    z-index: 1; /*STATUS QUO - SET LATER*/
    width: 100%;
    height: 100%;
}

.bubbles span {
    position: relative;
    
    aspect-ratio: 1 / 1; /*Ensures that bubbles shape stay constant - when MINIMIZING WINDOW*/
    width: 30px;
    height: 30px; /*Change back to 30px later!*/
    background: #4fc3dc;
    margin: 0 4px;
    border-radius: 50%;
    box-shadow: 
        0 0 0 10px #4fc3dc44, 
        0 0 50px #4fc3dc,
        0 0 100px #a1dfed;
    animation: animate 15s linear infinite;
    animation-duration: calc(var(--i) * 0.8s);
    transition: background 0.3s ease, box-shadow 0.3s ease;
}

.bubbles span:nth-child(even){
    background: #ff2d75;
    box-shadow: 
        0 0 0 10px #ff2d7544, 
        0 0 50px #ff2d75,
        0 0 100px #ff2d75;
}

.bubbles span:hover {
    background: #ebef0b;
    box-shadow: 
        0 0 0 10px #ebef0b44, 
        0 0 50px #e5e78c,
        0 0 100px #ececeb;
}

@keyframes animate {

    0% {
        transform: translateY(160vh) scale(0);
    }
    100% {
        transform: translateY(-10vh) scale(1);
    }

}